<header class="flex justify-end h-12">
    <i class="fa-solid fa-bone text-white text-6xl absolute left-3 top-0 hover:font-bold hover:cursor-pointer duration-100"></i>
    <ul class="text-white flex absolute top-0 right-0 justify-around w-[40rem] items-center text-lg h-16">
        <li id="inicio" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Inicio</li>
        <li id="ia" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Prueba nuestra IA</li>
        <li id="contacto" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Contacto</li>
        <li id="register" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Register</li>
        <li id="logout" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Logout</li>
        <li id="historico" class="hover:text-xl hover:font-bold hover:cursor-pointer duration-100">Historico</li>
    </ul>
</header>